// Header, footer, navigation, section 
header {
  background: #995134;
  .nav-section {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    color: #fff;
    font-family: "Literata", Times, serif;
    font-weight: 700;
    &:hover {
      text-decoration: none;
    }
  }
  .logo {
    font-size: 3rem;
  }
}
section.hero {
  background: url(/img/lowlands-1.jpg) no-repeat center center;
  background-size: cover;
  max-height: 800px;
  min-height: 600px;
}
